<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/crud.css">
<link rel="stylesheet" type="text/css" href="bower_components/AngularJS-Toaster/toaster.min.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<body ng-app="MonApp" ng-controller="mainController">

	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th>id</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Gérer</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4"><div id="paging">
							<ul>
								<li><a href="#"><span>Précédent</span></a></li>
								<li><a href="#" class="active"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span>3</span></a></li>
								<li><a href="#"><span>4</span></a></li>
								<li><a href="#"><span>5</span></a></li>
								<li><a href="#"><span>Suivant</span></a></li>
							</ul>
						</div>
				</tr>
			</tfoot>

			<tbody>
				<tr ng-repeat="eleve in eleves">
					<td>{{eleve.id}}</td>
					<td>{{eleve.prenom}}</td>
					<td>{{eleve.nom}}</td>
					<td>
						<button ng-click="editer(eleve)">Modifier</button>
						<button ng-click="supprimer(eleve)">Supprimer</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>

	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th>Modifier</th>
				<tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">
					<div id="paging" style="text-align: right">
						<button ng-click="validerEdition()">Modifier</button>
					</div></tr>
			</tfoot>
			<tbody>
				<tr>
					<td><label>Id</label><br>
					<input ng-model="eleve.id" disabled></input><br> <label>Prénom</label><br>
					<input ng-model="eleve.prenom"></input><br> <label>Nom</label><br>
					<input ng-model="eleve.nom"></input><br></td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<br>

	<div class="datagrid">
		<table>
			<thead>
				<tr>
					<th>Creer</th>
				<tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">
					<div id="paging" style="text-align: right"	ng-click="ajouter()">
						<button>Ajouter</button>
					</div>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td><label>Prénom</label><br>
					<input ng-model="nouvelEleve.prenom"></input><br> <label>Nom</label><br>
					<input ng-model="nouvelEleve.nom"></input><br></td>
				</tr>
			</tbody>
		</table>
	</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
</body>
</html>