<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/crud.css">
<link rel="stylesheet" type="text/css" href="bower_components/AngularJS-Toaster/toaster.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-modal/css/bootstrap-modal.css">
<link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
<script src="bower_components/promise/promise.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/eleve_controller.js"></script>
<script type="text/javascript" src="js/eleve_service.js"></script>
<script type="text/javascript" src="js/testController.js"></script>
<body ng-app="MonApp" ng-controller="EleveController">
	
	<br/>
	 <div ui-grid="gridOptions" class="gridClass">
	 </div>
	<br/>
	<div class="datagrid">
	<form name="formModif">
		<fieldset>
			<legend>Modifier vos coordonnées</legend>
			<br/>
			<div class="row">
		               <div class="form-group col-md-12">
		                   <div class="col-sm-4">
		                       <label class="control-label" for="id">Id</label>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		                   <div class="col-sm-4">
		                       <label class="control-label" for="age">Age</label>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		               </div>
		       </div>
			   <div class="row">
		               <div class="form-group col-md-12">
		                   <div class="col-sm-4">
		                       <input type="text" class="btnAge form-control" id=id ng-model="eleve.id" disabled></input>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		                   <div class="col-sm-4">
		                      <input class="btnAge form-control" id="age" ng-model="eleve.age"></input>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		               </div>
		       </div>
		       <br/>
		       <div class="row">
		               <div class="form-group col-md-12">
		                   <div class="col-sm-4">
		                       <label class="control-label" for="prenom">Prénom</label>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		                   <div class="col-sm-4">
		                       <label class="control-label" for="nom">Nom</label>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		               </div>
		       </div>
		       <div class="row">
		               <div class="form-group col-md-12">
		                   <div class="col-sm-4">
		                       <input class="form-control" id=prenom ng-model="eleve.prenom"></input>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		                   <div class="col-sm-4">
		                   	 <input class="form-control" id="nom" ng-model="eleve.nom" ></input>
		                   </div>
		                   <div class="col-sm-2">
		                   </div>
		               </div>
		       </div>
		       <br/>
		       <div class="row">
		               <div class="form-group col-md-12">
		                   <div class="col-sm-10">
		                   </div>
		                   <div class="col-sm-2"  ng-click="validerEdition()">
		                   <button class="btn btn-success">Valider</button> 
		                   </div>
		               </div>
		       </div>
	       </fieldset>
		</form>
	</div>
	<br/>
	<br/>
	<div class="datagrid">
	<form name="formCreate">
	<fieldset>
		<legend>Créer un nouvel élève</legend>
		<br/>
		<div class="row">
	               <div class="form-group col-md-12">
	                   <div class="col-sm-4">
	                       <label class="control-label" for="prenom">Prenom</label>
	                   </div>
	                   <div class="col-sm-2">
		                   </div>
	                   <div class="col-sm-4">
	                       <label class="control-label" for="age">Age</label>
	                   </div>
	                   <div class="col-sm-2">
		                   </div>
	               </div>
	       </div>
		   <div class="row">
	               <div class="form-group col-md-12">
	                   <div class="col-sm-4">
	                       <input type="text" class="form-control" id=prenom ng-model="nouvelEleve.prenom" placeholder="Saisir votre prénom"></input>
	                   </div>
	                   <div class="col-sm-2">
		                   </div>
	                   <div class="col-sm-4">
	                      <input class="btnAge form-control" id="age" ng-model="nouvelEleve.age" ></input>
	                   </div>
	                   <div class="col-sm-2">
		                </div>
	               </div>
	       </div>
	       <br/>
	       <div class="row">
	               <div class="form-group col-md-12">
	                   <div class="col-sm-4">
	                       <label class="control-label" for="nom">Nom</label>
	                   </div>
	                   <div class="col-sm-2">
		                </div>
	                   <div class="col-sm-4">
	                       <label class="control-label"></label>
	                   </div>
	                   <div class="col-sm-2">
		                </div>
	               </div>
	       </div>
	       <div class="row">
	               <div class="form-group col-md-12">
	                   <div class="col-sm-4">
	                       <input type="text" class="form-control" id=nom ng-model="nouvelEleve.nom" placeholder="Saisir votre nom"></input>
	                   </div>
	                   <div class="col-sm-2">
		                </div>
	                   <div class="col-sm-4">
	                   </div>
	                   <div class="col-sm-2">
		                </div>
	               </div>
	       </div>
	       <br/>
	       <div class="row">
	               <div class="form-group col-md-12">
	                   <div class="col-sm-10">
	                   </div>
	                   <div class="col-sm-2" ng-click="ajouter()">
	                   <button class="btn btn-primary">Valider</button> 
	                   </div>
	               </div>
	       </div>
       </fieldset>
	</form>
	<br/>
	</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div ui-view></div>
</body>
</html>