<!DOCTYPE html>
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="css/crud.css">
<link rel="stylesheet" type="text/css" href="bower_components/AngularJS-Toaster/toaster.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap-modal/css/bootstrap-modal.css">
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/AngularJS-Toaster/toaster.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/bootstrap-modal/js/bootstrap-modal.js"></script>
<script src="bower_components/promise/promise.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/eleve_controller.js"></script>
<script type="text/javascript" src="js/eleve_service.js"></script>
<script type="text/javascript" src="js/testController.js"></script>
<body ng-app="MonApp" ng-controller="EleveController">

	<div class="datagrid">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Prénom</th>
					<th>Nom</th>
					<th>Gérer</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4"><div id="paging">
							<ul>
								<li><a href="#"><span class="glyphicon glyphicon-backward"></span></a></li>
								<li><a href="#"><span>1</span></a></li>
								<li><a href="#"><span>2</span></a></li>
								<li><a href="#"><span class="glyphicon glyphicon-forward"></span></a></li>
							</ul>
						</div>
				</tr>
			</tfoot>

			<tbody>
				<tr ng-repeat="eleve in eleves">
					<td>{{eleve.id}}</td>
					<td>{{eleve.prenom}}</td>
					<td>{{eleve.nom}}</td>
					<td>
						<button class="btn btn-primary" ng-click="editer(eleve)">Modifier</button>
						<button class="btn btn-danger" ng-click="supprimer(eleve)">Supprimer</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="datagrid">
	<form name="formModif">
		<table class="table">
			<thead>
				<tr>
					<th>Modifier vos coordonnées</th>
				<tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">
					<div id="paging" style="text-align: left">
						<button class="btn btn-primary" ng-click="validerEdition()">Modifier</button>
					</div></tr>
			</tfoot>
			<tbody>
				<tr>
					<td>
					<div class="form-group">
						<label>Id</label>
						<input class="mybtn form-control" ng-model="eleve.id" disabled></input>
						<label>Prénom</label>
						<input class="mybtn form-control" ng-model="eleve.prenom" placeholder="Entrer votre prénom"></input>
						<label>Nom</label>
						<input class="mybtn form-control" ng-model="eleve.nom" placeholder="Entrer votre nom"></input>
					</div>
						<!-- <input type="button" value="med" ng-click="redirectTest()"></input> -->
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>

	<div class="datagrid">
	<form name="formCreate">
		<table class="table ">
			<thead>
				<tr>
					<th>Créer un nouvel élève</th>
				<tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="4">
					<div id="paging" style="text-align: left"	ng-click="ajouter()">
						<button class="btn btn-primary">Ajouter</button>
					</div>
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<td>
					
						<div class="form-group">
						<label>Prénom</label>
							<input class="mybtn form-control" ng-model="nouvelEleve.prenom" placeholder="Entrer votre prénom"></input>
							<label>Nom</label><br>
							<input class="mybtn form-control" ng-model="nouvelEleve.nom" placeholder="Entrer votre nom"></input>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		</form>
	</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<div ui-view></div>
</body>
</html>